<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>CONOCER-EC0305</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/logo_ece_icatech1.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="academy-logo">
                            <a href="index.html">
                                <img src="img/core-img/LOGO_ECE4.png" alt="" style="float: left;">
                            </a>
                            <a href="index.html">
                                <img src="img/core-img/conocer-logo.png" alt="" style="float: right;">
                            </a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Inicio</a></li>
                                    <li><a href="#">Registros</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">EC02017.01</a></li>
                                                <li><a href="file:///C:/Users/puma1/OneDrive/Documentos/200%20TEMPLEATES/a3/academy/certificacion_ec0076.html">EC0076</a></li>
                                                <li><a href="file:///C:/Users/puma1/OneDrive/Documentos/200%20TEMPLEATES/a3/academy/certificacion_ec0127.html">EC0127</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="file:///C:/Users/puma1/OneDrive/Documentos/200%20TEMPLEATES/a3/academy/certificacion_ec0366.html">EC0366</a></li>
                                                <li><a href="file:///C:/Users/puma1/OneDrive/Documentos/200%20TEMPLEATES/a3/academy/certificacion_ec0401.html">EC0401</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="file:///C:/Users/puma1/OneDrive/Documentos/200%20TEMPLEATES/a3/academy/certificacion_ec0305.html">EC0305</a></li>
                                                <li><a href="file:///C:/Users/puma1/OneDrive/Documentos/200%20TEMPLEATES/a3/academy/certificacion_ec1415.html">EC1415</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <img src="img/bg-img/bg-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="about-us.html">Acerca de Nosotros</a></li>
                                    <li><a href="course.html">Certificaciones</a></li>
                                    <li><a href="contact.html">Contacto</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:+654563325568889"><i class="icon-telephone-2"></i> <span>(+65) 456 332 5568 889</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>Certificación</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
<br><br><br>
 
    <!-- ***** Información de curso ***** -->
    <div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
        <div class="single-top-popular-course d-flex align-items-center flex-wrap">
            <div class="popular-course-content">
                <h5>Prestación de servicios de atención a clientes</h5>
                <span>EC0305</span>
                <div class="course-ratings">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p style="text-align: justify;">El Estándar de Competencia prestación de servicios de atención a clientes contempla las funciones de
                    atender los requerimientos del cliente, identificando el tipo de atención y/o servicio requerido y
                    seleccionando el medio de comunicación por el cual se atendrá al cliente.</p>
            </div>
            <div class="popular-course-thumb bg-img" style="background-image: url(img/bg-img/ec0305.jpeg);"></div>
        </div>
    </div>
       <!-- ##### Elements Area Start ##### -->
       <section class="elements-area mt-50 section-padding-100-0">                
                <!-- ##### Tabs ##### -->
                <div class="col-12 col-lg-12">
                    <div class="academy-tabs-content">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">CERTIFICACION EC0305 ante Conocer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Beneficios y valor de la Certificación</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="true">Requisitos y Costos</a>
                            </li>
                        </ul>

                        <div class="tab-content mb-100" id="myTabContent">
                            <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                <div class="academy-tab-content">
                                    <!-- Tab Text -->
                                    <div class="academy-tab-text">
                                        <p style="text-align: justify;">OBJETIVO<br>
                                            <br>Los participantes practicarán el proceso completo de prestación de servicios de atención a clientes,
                                            siguiendo los elementos del estándar, atender los requerimientos del cliente, gestionar el servicio
                                            requerido por el cliente y obtener la satisfacción del servicio, con base en el estándar EC0305 avalado por
                                            el CONOCER y la SEP.<br>
                                            <br>Capacitación en el Estándar de Competencia EC0305 + Evaluación + Certificación<br>
                                            • Aplicación de evaluación diagnóstica para evaluar el nivel del instructor, con retroalimentación y
                                            definición de pasos siguientes.<br>
                                            • Capacitación en el Estándar de Competencia EC035 de CONOCER como preparación a la
                                            Evaluación.<br>
                                            • Revisión del Plan de Evaluación y aplicación de la Evaluación.<br>
                                            • Presentación de resultados y puntaje de la Evaluación*.<br>
                                            • Gestión y entrega del Certificado por parte de la Entidad de Certificación.
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                <div class="academy-tab-content">
                                    <!-- Tab Text -->
                                    <div class="academy-tab-text">
                                        <p style="text-align: justify;">BENEFICIOS<br>
                                            <br>• Generará un valor agregado como persona que atiende al cliente con base en el estándar, lo cual
                                            permitirá desarrollar y fortalecer sus conocimientos, habilidades, destrezas y actitudes, para
                                            obtener mejores resultados derivados de su trabajo.<br>
                                            • Aumentará su competitividad en el Mercado.<br>
                                            • Mejorará su desempeño como prestador de servicios de atención a clientes.<br>
                                            • Adquirirá herramientas para profesionalizarse como prestador de servicios de atención a clientes.<br>
                                            • Obtendrá un registro Nacional al acreditarse en la competencia.<br>
                                            <br>DIRIGIDO<br>
                                            <br>Dueños de negocio, emprendedores, directores, gerentes, supervisores, coordinadores, jefes de área,
                                            empleados en áreas secretariales, de recepción, información al público, cajeros, hotelería y restaurantes,
                                            ventas, servicios de alimentos, salud, trabajo social, entre otros y en general a cualquier persona que ejerza
                                            un servicio de atención a clientes internos y externos.
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                <div class="academy-tab-content">
                                    <!-- Tab Text -->
                                    <div class="academy-tab-text">
                                        <p style="text-align: justify;">Estándar de competencia: $2,500.00<br>
                                            Certificado $500.00<br>
                                            Inversión total: $3,000.00<br>
                                            
                                            Requisitos:<br>
                                            • Identificación oficial<br>
                                            • Curp<br>
                                            • Comprobante de domicilio<br>
                                            • Fotografía tamaño infantil a color</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href="#"><img src="img/core-img/LOGO_ECE4.png" alt=""></a>
                            </div>
                            <p>Entidad de Certificación y Evaluación del ICATECH.</p>
                            <div class="footer-social-info">
                                <a href="https://www.facebook.com/ICATchiapas?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/IcatechOficial?s=09"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com/icatechchiapas?igshid=NTc4MTIwNjQ2YQ=="><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Accesos directos</h6>
                            </div>
                            <nav>
                                <ul class="useful-links">
                                    <li><a href="#">Avisos de privacidad</a></li>
                                    <li><a href="#">Normatividad</a></li>
                                    <li><a href="#">Organigrama</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Galeria</h6>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <a href="img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/bg-img/gallery1.jpg" alt=""></a>
                                <a href="img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/bg-img/gallery2.jpg" alt=""></a>
                                <a href="img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/bg-img/gallery3.jpg" alt=""></a>
                                <a href="img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/bg-img/gallery4.jpg" alt=""></a>
                                <a href="img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/bg-img/gallery5.jpg" alt=""></a>
                                <a href="img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contacto</h6>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-placeholder"></i>
                                <p>14 Poniente Norte No. 239 Colonia Moctezuma</p>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-telephone-1"></i>
                                <p>Conmutador: (961) 61-2-16-21</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p>icatech@icatech.chiapas.gob.mx</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>